parameters:
    level: 8
    paths:
        - app/
        - src/
    ignoreErrors:
        - '#Function createApp\(\) return type with generic class Slim\\App does not specify its types: TContainerInterface#'
        - '#app/routes/urls\.php:\d+.*Cannot access offset \'url\' on array\|object#'